services:
  v2ray:
    image: docker.io/v2fly/v2fly-core:v5.16.1
    container_name: v2ray
    restart: unless-stopped
    ports:
      - "10086:10086"
    volumes:
      - ./config.json:/etc/v2ray/config.json
      - ./log:/var/log/v2ray
    command: 'run -c /etc/v2ray/config.json'
    # entrypoint: ['tail', '-f', '/dev/null']